header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--astr-background-color);
    border-bottom: 1px solid var(--astr-border-color);
  }
  .site-title{
    padding: 1rem;
        transition: all 0.5ms ease-in;
        &:hover > a{
            text-shadow: 0 0 6px white;
        }
  }
  
  input {
    &#nav-main-toggle {
      display: none;
    }
    display: none;
  }
  
  .navigation {
    ul {
      margin: 0;
      padding: 0;
    }
    > ul {
      display: flex;
    }
    li {
      padding: 1.3px;
      list-style: none outside;
      display: block;
      position: relative;
    }
  }
  
  nav.main > ul > li:not(:last-child) {
    padding-right: 3px;
  }
  
  .navigation {
    a {
      display: block;
      margin: .2rem;
      padding: 0.4rem 0.6rem !important;
      border: 1px solid #9393f5;
      color: var(--default) !important;
      border-radius: 1px !important;
      background: var(--astr-button-color);
      transition: all 2s ease-out;
      &:hover {
        border: 1px solid;
        -webkit-box-shadow: 0px 0px 25px -1px rgb(255, 255, 255);
        -moz-box-shadow: 0px 0px 25px -1px rgb(255, 255, 255);
        box-shadow: 0px 0px 25px -1px rgb(255, 255, 255);
      }
    }
    li:hover > a {
      -webkit-box-shadow: 0px 0px 25px -1px rgb(255, 255, 255);
      -moz-box-shadow: 0px 0px 25px -1px rgb(255, 255, 255);
      box-shadow: 0px 0px 25px -1px rgb(255, 255, 255);
      background: var(--astr-button-hover);
    }
  }
  
  #nav-main-toggle:checked + header .navigation {
    display: block;
    flex: 1 0 100%;
  }

  #nav-main-toggle:checked + .site{
      margin-top: 20rem;
  }
  
  @media screen and (max-width: 800px) {
    .navigation {
      display: none;
      > ul {
        transition: all 0.3s ease;
        display: block;
      }
      ul {
        a {
          color: #000;
        }
      }
      > ul > li:not(:last-child) {
        padding: 0 0 0.5rem 0;
      }
    }
  }
  
  @media screen and (min-width: 801px) {
    label {
      display: none;
    }
    .navigation li:hover > ul {
      display: block;
    }
    .navigation{
      flex: 0 0 0%;
    }
  }