@import url('reset.css');
@import url('variables.css');
@import url('typography.css');
@import url('navigation.css');
@import url('post.css');

html {
    background: url(../images/background-image.jpg);
    color: var(--default-text-color);
    h1{
        text-shadow: 0 0 15px #9393f5;
        padding: 1.5rem;
    }
}

.site-title a{
    text-decoration: none;
    font-size: 32;
    text-shadow: 0 0 15px #9393f5;
    text-transform: uppercase;
    font-weight: 600;
}

header{
    display: flex;
    background-color: var(--astr-background-color) !important;
    border-bottom: 1px solid var(--astr-border-color);
}

main{
    background-color: var(--astr-background-color) !important;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5rem;
    ul {
        list-style-type: none;
    }
}


.listing-posts {
    padding: 1.5rem;
    border-radius: 3px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vw;

    & .post {
        transition: all .5s ease-in-out;
        img {
            width: 100%;
            border-radius: 30px;
            &:hover {
                cursor: pointer;
            }
        }
        &:hover{
            transform: scale(1.025);
        }
    }
    a:hover {
        p.title{
            text-shadow: 0 0 15px #9393f5;
        }
        img{
            border: solid;
        }
        -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);
    }
    
}

.welcome{
    text-align: center;
    padding: 2rem;
    background-color: var(--astr-background-welcome);
    p{
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    }
    #tempostorm, #hotsui{
        color: pink;
    }
}

.topics {
    text-align: center;
    display: flex;
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        flex: 1 1 16rem;
        border-left: solid 2px var(--astr-background-welcome);
        border-right: solid 2px var(--astr-background-welcome);
        border-bottom: solid 4px var(--astr-background-welcome);
        transition: all 0.5s ease;
        justify-content: space-between;
        img{
            height: 100%;
            width: 70%;
            padding-left: 0;
            padding-bottom: 2rem;
        }
        &:hover{
            border: solid 4px var(--astr-border-color);
        }
        a{
            display: block;
            margin: .2rem;
            padding: .4rem .6rem !important;
            border: 1px solid #9393f5;
            color: var(--default) !important;
            border-radius: 1px !important;
            background: -webkit-gradient(linear,left top,right top,from(rgba(32,12,59,.9)),color-stop(#58398b),to(rgba(32,12,59,.9)));
            background: linear-gradient(to right,rgba(32,12,59,.9),#58398b,rgba(32,12,59,.9));
        }
    }
}

.subscription{
    background: var(--astr-background-welcome);
    text-align: center;
    width: 100%;
    article{
        max-width: 100% !important;
        a{
            margin: .2rem;
            padding: .4rem .6rem !important;
            border: 1px solid #9393f5;
            color: var(--default) !important;
            border-radius: 1px !important;
            background: -webkit-gradient(linear,left top,right top,from(rgba(32,12,59,.9)),color-stop(#58398b),to(rgba(32,12,59,.9)));
            background: linear-gradient(to right,rgba(32,12,59,.9),#58398b,rgba(32,12,59,.9));
        }
        input{
            display: inline;
            padding: 0.5rem;
            margin: 0.5rem;
            max-width: 20rem;
            background: var(--astr-background-welcome);
            color: white;
            border: 1px solid grey;
            width: 35%;
            &:focus{
                border: 3px solid white;
            }
        }
    }
}

@media screen and (max-width: 800px){
    main{
        margin: 0;
        margin-top: 5rem;
    }
    .listing-posts{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px){
    .listing-posts{
        grid-template-columns: 1fr;
    }
}


@media screen and (min-width: 800px){
    .listing-posts{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px){
    .listing-posts{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}
