@import url('reset.css');
@import url('variables.css');
@import url('typography.css');
@import url('navigation.css');
@import url('post.css');
@import url('footer.css');
@import url('profile.css');
@import url('login.css');

html {
    background: url(../images/background-image.jpg);
    color: var(--default-text-color);
    h1, h2{
        text-shadow: 0 0 15px #9393f5;
        padding: 1.5rem;
    }
}

.site-title a{
    text-decoration: none;
    font-size: 32;
    text-shadow: 0 0 15px #9393f5;
    text-transform: uppercase;
    font-weight: 600;
}

header{
    display: flex;
    background-color: var(--astr-background-color) !important;
    border-bottom: 1px solid var(--astr-border-color);
}

main{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
    ul {
        list-style-type: none;
    }
}

.landing-page-header{
    width: 100%;
    padding: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    background: var(--astr-background-topics) !important;
}

.posts{
    background-color: var(--astr-background-color) !important;
    width: 100%;
}

.listing-posts {
    .post{
        transition: .3s ease-in-out;
        &:hover{
            -webkit-box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 29px 0px rgba(0,0,0,0.75);
        }
        .post-top{
            padding: 0.5rem;
            .post-image{
                position: absolute;
                a{
                    position: relative;
                    display: block;
                    text-align: center;
                    img{
                        vertical-align: middle;
                        width: 9rem;
                        max-width: 12rem;
                        z-index: 10;
                        border: 1px solid var(--astr-border-color);
                        height: 7rem;
                    }
                    .post-overlay{
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        opacity: 0;
                        background-color: rgba(0, 0, 0, 0.7);
                        color: orange;
                        font-weight: 800;
                        transition: all 0.4s ease;
                        padding: 25% 0;
                        &:hover{
                            opacity: 1;
                            z-index: 20;
                        }
                    }
                    &:hover > .post-overlay{
                        opacity: 1;
                    }
                }
            }
            .post-title{
                .post-image-link{
                    color: orange !important;
                    font-weight: 800;
                }
                padding-left: 11rem;
            }
            .post-description{
                padding: .5rem;
                padding-left: 10rem;
            }
        }
        background-color: var(--astr-background-topics) !important;
        margin: 1rem;
    }
    .post-bottom{
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        background-color: var(--astr-background-welcome);
        .post-button{
            cursor: pointer;
            padding: 0.5rem;
            background-color: var(--astr-border-color);
        }
    }
}


.more-posts{
    margin: 1rem;
    padding: 2rem;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--default-text-color);
    cursor: pointer;
    transition: .3s ease-in-out;
    &:hover{
        background-color: rgba(175, 175, 200, 0.1);;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    }
}

.welcome{
    text-align: center;
    padding: 2rem;
    background-color: var(--astr-background-welcome);
    p{
        padding-left: 5.5rem;
        padding-right: 5.5rem;
    }
    #hotsui{
        color: cyan;
    }
}

.feed{
    width: 100%;
    .feed-header{
        background: var(--astr-background-topics);
        text-align: center;
    }
    .feed-wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        background: var(--astr-background-color);
        .streams, .tweets{
            width: 50%;
            ul{
                padding-left: 0;
            }
            li{
            list-style-type: none;
            background: var(--astr-background-welcome);
            padding: 0.5rem;
            transition: all 0.3s ease-in;
            .link-text{
                color: cyan;
            }
                div{
                    display: flex;
                    justify-content: space-between;
                }
                &:hover{
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
            h3{
                padding: 1rem;
                text-shadow: 0 0 15px #9393f5;
                background: var(--astr-background-topics);
                border-left: 2px solid cyan;
            }
        }
        .tweets{
            max-height: 60vh;
            .scroller{
                overflow: scroll;
                overflow-x: hidden;
                height: 86%;
            }
        }
    }
}



.topic-section{
    .topic-section-header{
        text-align: center;
        background: var(--astr-background-topics);
    }
    
.topics {
    text-align: center;
    display: flex;
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 16rem;
        border-left: solid 2px var(--astr-background-welcome);
        border-right: solid 2px var(--astr-background-welcome);
        border-bottom: solid 4px var(--astr-background-welcome);
        transition: all 0.5s ease;
        justify-content: space-between;
        background: var(--astr-background-color);
        padding: 0 !important;
        p{
            padding: 1rem;
        }
        img{
            height: 100%;
            width: auto;
            padding-left: 0;
            padding-bottom: 2rem;
        }
        &:hover{
            border: solid 4px var(--astr-border-color);
        }
        a{
            display: block;
            margin: .2rem;
            padding: .4rem .6rem !important;
            border: 1px solid #9393f5;
            color: var(--default-text-color) !important;
            border-radius: 1px !important;
            background: -webkit-gradient(linear,left top,right top,from(rgba(32,12,59,.9)),color-stop(#58398b),to(rgba(32,12,59,.9)));
            background: linear-gradient(to right,rgba(32,12,59,.9),#58398b,rgba(32,12,59,.9));
            transition: all .5s ease;
            margin: 1rem;
            &:hover {
                border: 1px solid;
                -webkit-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.75);
            }
        }
    }
}
}

.subscription{
    background: var(--astr-background-welcome);
    text-align: center;
    width: 100%;
    article{
        max-width: 100% !important;
        a{
            margin: .2rem;
            padding: .4rem .6rem !important;
            border: 1px solid #9393f5;
            color: var(--default-text-color) !important;
            border-radius: 1px !important;
            background: -webkit-gradient(linear,left top,right top,from(rgba(32,12,59,.9)),color-stop(#58398b),to(rgba(32,12,59,.9)));
            background: linear-gradient(to right,rgba(32,12,59,.9),#58398b,rgba(32,12,59,.9));
        }
        input{
            display: inline;
            padding: 0.5rem;
            margin: 0.5rem;
            max-width: 20rem;
            background: var(--astr-background-welcome);
            color: white;
            border: 1px solid grey;
            &:focus{
                border: 3px solid white;
            }
        }
    }
}


@media screen and (max-width: 800px){
    main{
        margin-left: 0;
        margin-right: 0;
        margin-top: 5rem;
    }
    .site-footer{
        margin: 0;
    }


    .feed-wrapper{
        flex-direction: column;
        .streams, .tweets{
            width: auto !important;
            max-width: inherit;
            margin: 0;
            padding: 1rem 0;
        }
    }
    
}

@media screen and (max-width: 400px){
        .welcome{
            p{
                padding-left: 0;
                padding-right: 0;
            }
        }
        .site-footer{
            text-align: center;
            .footer-content{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        .subscription article a{
            display: inline-block;
            margin: 1rem;
        }
    }
    .post-top{
        min-height: 7rem;
        .post-description{
            display: none;
        }
    }
}

@media screen and (max-width: 1024px){
    .topics{
        article{
            width: auto;
            max-width: inherit;
        }
        flex-direction: column;
    }
    
}