:root{
    --default-text-color: white;

    --default-font-size: 0.9rem;
    --mobile-font-size: 0.765rem;

    --astr-background-color: #1A1537;
    --astr-background-welcome: rgb(11, 7, 29);
    --astr-border-color: #593A99;
}