header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1A1537;
    border-bottom: 1px solid #593A99;
}

input#nav-main-toggle{
    display: none;
}

input{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
}

.navigation > ul{
    display: flex;
}

.navigation li{
    padding: 1.3px;
    list-style: none outside;
    display: block;
    position: relative;
}

nav.main > ul > li:not(:last-child){
    padding-right: 3px;
}

.navigation a{
    display: block;
    margin: 3px;
    padding: 6px 12px !important;
    border: 1px solid #9393f5;
    color: #fff !important;
    border-radius: 1px !important;
    background: linear-gradient(to right, rgba(32, 12, 59, 0.9), #58398b, rgba(32, 12, 59, 0.9));
}

.navigation a:hover,
.navigation li:hover > a{   
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
}

#nav-main-toggle:checked + header .navigation {
    display: block;
    flex: 1 0 100%;
}   

@media screen and (max-width: 800px){
    .navigation{
        display: none;
    }

    .navigation > ul{
        display: block;
    }

    .navigation ul ul{
        display: block;
        width: auto;
        position: static;
        padding: 0.5rem 0rem 0.5rem 1.5rem;
    }

    .navigation ul a{
        color: #000;
    }

    .navigation > ul > li:not(:last-child){
        padding: 0 0 0.5rem 0;
    }
}


@media screen and (min-width: 801px){
    label{
        display: none;
    }
    .navigation li:hover > ul {
        display: block;
    }
}