<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{site.title}}</title>
		<link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/images/9167.png"/>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css" />
	</head>
	<body class="{% if page.type %}{{page.type}} {% endif %}{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}">
		<div class="site">

			<input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">
			<header class="site-header">
				<div class="site-branding">
					<p class="site-title">
						<a href="{{ site.baseurl }}/">{{ site.title }}</a>
					</p>
				</div>
				<label id="nav-toggle" for="nav-main-toggle" class="fas nav-toggle right"><i class="fas fa-bars"></i></label>
				<nav class="navigation main">
						<ul>
								<li class="blog-button"><a class="fas fa-newspaper" href="{{ site.baseurl }}/">Blog</a></li>
								<li class="about-button"><a class="fas fa-user-secret" href="{{ site.baseurl }}/about/">About</a></li>
								<li class="shop-button"><a class="fas fa-shopping-cart" href="{{ site.baseurl }}/shop/">Shop</a></li>
								<li class="gallery-button"><a class="fas fa-th" href="{{ site.baseurl }}/gallery/">Gallery</a></li>
								<li class="login-button"><a class="fas fa-key" href="{{ site.baseurl }}/login/">Login</a></li>
								<li class="premium-link"><a class="fas fa-star" href="{{ site.baseurl }}/premium/">Go Premium</a></li>
							</ul>
				</nav>
			</header>
			<main class="site-content">
				{{content}}
			</main>
			<footer class="site-footer">
				<div class="footer-content">
						<div class="quick-links">
								<h2>Quick Links</h2>
								<a href="{{ site.baseurl }}/">Home</a>
								<a href="{{ site.baseurl }}/about/">About us</a>
								<a href="{{ site.baseurl }}/premium/"><span class="premium-span">Go Premium</span></a>
								<a href="{{ site.baseurl }}/gallery/">Gallery</a>
								<a href="{{ site.baseurl }}/shop/">Shop</a>
							</div>
							<div class="address">
								<h2>Address</h2>
								<p>Sofia, Bulgaria</p>
								<p>astralis@abv.bg</p>
								<p>(01) 800 854 633</p>
							</div>
							<div class="follow-us">
								<h2>Follow us</h2>
								<i class="fab fa-github"></i>
								<i class="fab fa-twitter"></i>
								<i class="fab fa-facebook"></i>
						</div>
				</div>
				<div class="footer-footer">
					<p>All pictures present belong to their respective owners. I do not have ownership over them.</p>
				</div>
			</footer>
		</div>
	</body>
</html>